@import './Colors.css';

button {
  color: var(--background);
  background: var(--green-dark);
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  min-width: 30%;
  max-width: 50%;
  width: fit-content;
  margin-left: 1.3rem;
}

button:hover {
  background: var(--blue-dark);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.subject-button {
  display: flex;
  flex-direction: column;
  background: var(--pink-light);
  color: var(--green-dark);
  border-color: var(--green-dark);
  width: 90%;
  max-width: 768px;
  padding: 1.5rem;
  border-radius: 8px;
  text-align: right;
  
}

.subject-button:hover {
  background: var(--green-dark);
  color: var(--pink-light);
}
