:root {
    --background: #eceae3;
    --pink-dark: #e8b0b9;
    --pink-light: #f5e1d8;
    --green-dark: #4b585a;
    --green-light: #b0c4b1;
    --blue: #1d3664;
    --blue-dark: #091d3b;
    --yellow: #f7c525;
}