@import './Colors.css';

:root {
    font-family: Heebo, sans-serif;
    line-height: 1.5;
    font-weight: 400;
   
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    /* Add RTL support */
    direction: rtl;
    text-align: right;
  }

  #root {
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: right;
    background-color: var(--background);
  }  

 html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--background); 
 }