@import './Colors.css';

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: .5rem;
  padding: 2rem;
  max-width: 1280px;
  margin: 0 auto;
}

.container h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0;
}

.container p {
  max-width: 1280px;
  line-height: 1.6;
  text-align: justify;
}

.questions-list {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 768px;
  gap: 1.5rem;
  margin-top: 0rem;
}

.question-card {
  display: flex;
  flex-direction: column;
  background: var(--green-light);
  max-width: 1280px;
  width: 100%;
  padding: 1.5rem;
  border-radius: 8px;
  text-align: right;
}

.question-card h3 {
  margin: 0 0 0.5rem 0;
  color: var(--blue-dark);
}

.question-card p {
  margin: 1rem 0 0.5rem 0;
  color: var(--blue-dark);
  font-size: 1rem;
}

.location-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
}

.location-select {
  flex: 1;
  display: flex;
  align-items: right;
}

.location-select label {
  margin-left: 10px;
  align-self: center;
  font-size: 16px;
  white-space: nowrap;
  color: var(--blue-dark);
}

.input-field {
  width: 100%;
  font-family: Heebo, sans-serif;
  font-weight: 400;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 1rem;
  box-sizing: border-box;
  text-align: right;
  resize: vertical;
  min-height: calc(1em * 1.4 * 3 + 1rem); /* 3 lines + padding */
  line-height: 1.4;
  overflow-y: auto !important;
  white-space: pre-wrap;
  word-wrap: break-word;
}


.form-input,
.form-select,
.input-text {
  width: 100%;
  font-family: Heebo, sans-serif;
  font-weight: 400;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 1rem;
  box-sizing: border-box;
  text-align: right;
  align-self: center;
}

input[type="range"] {
  width: 100%;
  margin: 0.5rem 0;
}

.subjects-list {
  position: relative;
  width: 100%;
  height: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.subject-item {
  padding: .5rem;
}


