@import '/src/styles/Colors.css';

.icon {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-inline-end: 6px;
  }
  
  .inline-icon {
    height: 1.2em;
    vertical-align: middle;
    margin-inline-end: 0.3em; /* for spacing between icon and text */
  }

  .inline-icon-mosiac {
    height: 1.2em;
    vertical-align: middle;
    margin-inline-end: 0.3em; /* for spacing between icon and text */
  }